@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Red Hat Display", sans-serif;
}

:root{
        --principal: #ff61c6;
        --secundario: #0a0c37;
        --terciario: #FAF047;
}

html{
    scroll-behavior: smooth;
}



nav{
    display: none;
    align-items: center;
}

header{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secundario);
}

#logo img{
    width: 70px;
}

#suscripcion{
    background-color: var(--principal);
    padding: 0.4em;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.35s ease-in-out;
}
#suscripcion:hover{
    background-color: #FAF047;
    color: black;
    scale: 110%;
}

#carrito{
    display: flex;
    align-items: center;
}



#Principal{
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: top -100px right -80px;
    background-color: var(--terciario);
    margin: auto;
    display: flex;
    flex-direction: column;
}

#textos{
    text-align: left;
    margin: 16em 5% 2em 5%;
    padding: 0 5%;
    max-width: 450px;
}

#textos h1{
    font-family: "Fugaz One", sans-serif;
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: normal;
}

#textos p{
    font-size: 1em;
    margin: 3% 0%;
}

#textos a{
    background-color: var(--principal);
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 8px;
    padding: 0.15em 0.5em;
    transition: 0.35s ease-in-out;
}
#textos a:hover{
    background-color: var(--secundario);
}

h2{
    font-family: "Fugaz One", sans-serif;
    font-weight: normal;
    font-size: 1.6em;
    margin-bottom: 0.5em;
}





#Extra{
    display: none;
}

#Novedades{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5em;
    margin-bottom: 4em;
}

#Novedades div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 1.5em 1em;
}

#Novedades img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    max-height: 150px;
    object-fit: cover;
}

#Novedades article{
    margin-bottom: 0;
    align-items: flex-start;
    flex-grow: 1;
    flex-basis: 30vw;
}

#Novedades article h3{
    font-weight: 750;
    font-size: 1.2em;
}

#Novedades article p{
    font-size: 0.7em;
    line-height: 1.4em;
    margin-top: 0.2em;
    margin-bottom: 0.6em;
}

#Novedades article a{
    background-color: var(--principal);
    color: white;
    border-radius: 20px;
    padding: 0.2em 0.8em;
    transition: 0.35s ease-in-out;
    font-size: 0.75em;
    font-weight: bold;
}
#Novedades article a:hover{
    background-color: var(--secundario);
}



#Populares img{
    width: 100%;
    transition: 0.35s ease-in-out;
}
#Populares img:hover{
    scale: 103%;
}

#Populares{
    background-color: var(--secundario);
    padding: 2.5em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#Populares div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 1.4em;
}

#Populares h2{
    color: white;
}



#Categorías{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2.5em 0;
}

#Categorías img{
    display: none;
}

#Categorías div{
    max-width: 1200px;
    padding: 0 2.5em;
    display: flex;
    flex-direction: column;
}

#Categorías a{
    background-color:white;
    box-shadow: 0px 2px 10px var(--secundario);
    border-radius: 10px;
    padding: 1em;
    margin: 0.4em;
    
    flex-grow: 1;
    flex-basis: 25vw;
    transition: 0.35s ease-in-out;
}
#Categorías a:hover{
    scale: 103%;
}

.cat_extra{
    display: none;
}

#Categorías a h3{
    font-weight: 800;
    font-size: 1.2em;
    color: black;
}

#Categorías a p{
    font-size: 0.7em;
    color: black;
}

footer{
    padding: 0 2.5em;
}

#footer{
    border-top: solid var(--secundario);
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    align-items: center;
}

footer a{
    font-size: 0.7em;
    color: black;
    transition: 0.35s ease-in-out;
}
footer a:hover{
    color: var(--principal);
}

#redes img{
    width: 1em;
    transition: 0.35s ease-in-out;
}
#redes img:hover{
    scale: 110%;
}




#header_cred #logo img{
    width: 200px;    
}

#header_cred{
    justify-content: center;
}

#Creditos{
    background-color: var(--terciario);
    display: flex;
    align-items: center;
    height: 40vh;
}

#Creditos div{
    text-align: left;
    padding: 0 5%;
}

#Creditos h2{
    margin-bottom: 0;
    font-size: 2.2em;
}

#Creditos p{
    font-size: 0.75em;
}

#Links{
    padding: 2.5em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0px;
    
}

#Links div{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    row-gap: 2em;
}

#Links div a{
    width: 45%;
    display: flex;
    align-items: center;
}

#Links div img{
    width: 100%;
    transition: 0.35s ease-in-out;
}
#Links div img:hover{
    scale: 103%;
    box-shadow: 0px 2px 10px var(--secundario);
}





/*-------------------------------------*/
/* -----------  TABLET  -------------- */
/*-------------------------------------*/

@media all and (min-width:760px){
    #hamburguesa{
        display: none;
    }

    nav{
        display: flex;
    }

    #carrito img{
        width: 1.4em;
        transition: 0.35s ease-in-out;
    }
    #carrito img:hover{
        scale: 110%;
    }

    nav a{
        color: white;
        margin: 0 0.7em;
        transition: 0.35s ease-in-out;
    }
    nav a:hover{
        color: var(--principal);
    }

    



   #Principal{
        background-size: 1000px;
        background-position: top -170px right -140px;
    }

    #textos{
        margin: 16em 5% 3em 5%;
    }
        



    #Novedades article{
        flex-basis: 20vw;
    }

    #Novedades article h3{
    font-weight: 750;
    font-size: 1.4em;
    }

    #Novedades article p{
        font-size: 0.9em;
    }

    #Novedades article a{
        font-size: 0.9em;
    }



    #Populares div{
    flex-direction: row;
    }

    .cat_extra{
        display: flex;
        flex-direction: column;
    }
    
    #Categorías div{
        flex-direction: row;
        flex-wrap: wrap;
    }

    #Categorías a p{
        font-size: 0.9em;
    }
    
    #Categorías a h3{
        font-size: 1.4em;
    }



    
    #redes img{
        width: 1.5em;
    }

    footer a{
        font-size: 0.9em;
    }



    #Creditos h2{
        font-size: 3.5em;
    }

    #Creditos p{
        font-size: 1.5em;
    }

    #Links div a{
    width: 30%;
}

}


/*-------------------------------------*/
/* -----------  DESKTOP  ------------- */
/*-------------------------------------*/

@media all and (min-width:1200px){
    header nav a{
        font-size: 1.4em;
    }

    #logo img{
        width: 100px;
    }



    h2{
        font-size: 2.5em;
    }

    #textos{
        margin: 16em 5% 5em 5%;
    }

    #textos h1{
        font-size: 3.5em;
    }
    #textos p{
        font-size: 1.2em;
    }
    #textos a{
        font-size: 1.2em;
        margin-bottom: 4em;
    }

    




    #Principal{
        background-size: cover;
        background-position: right;
    }

    #textos{
        max-width: 600px;
    }



    

    #Extra{
    display: inline-block;}

    #Novedades article h3{
    font-weight: 750;
    font-size: 1.5em;
    }


    #Novedades article p{
        font-size: 1em;
    }

    #Novedades article a{
        font-size: 1.1em;
    }


    #Categorías img{
        display: flex;
        width: 100%;
        max-height: 30vh;
        object-fit: cover;
    }

    #Categorías div{
        margin-top: 2em;
    }

    #Categorías a p{
        font-size: 1em;
    }

    #Categorías a h3{
        font-size: 1.5em;
    }

    footer a{
        font-size: 1.2em;
    }
}
